################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UserManagement.Service
/Usermanagement.Application/obj
/Usermanagement.Domain/obj
/Usermanagement.Infrastructure/obj
/UserManagement.Web/obj
